:root {
    --primary-background-color: #1C1A1F;
    --secondary-background-color: #2C3833;
    --secondary-background-color-alt: #C1DDD1;
    --font-color: #F7FCF4;
    --menu-font-color: #797979;
}

* {
    margin: 0;
    padding: 0;
}

html {
    margin: 0 9rem;
    font-family: "Raleway", sans-serif;
}

body {
    background-color: var(--primary-background-color);
}

ul,
li,
a {
    text-decoration: none;
    list-style: none;
}

/* ******* utilidades ******* */

.btn {
    color: var(--font-color);
    padding: 0.5rem 1.5rem;
    border: var(--secondary-background-color-alt) 1px solid;
    border-radius: 1rem;
}

.arrow {
    position: absolute;
    margin: 2rem 0 2rem 1rem;
}

/* ******** Menu ******* */

#menu-container {
    display: flex;
    margin-top: 2.5rem;
    justify-content: space-between;

}

.logo {
    margin-right: 0.75rem;
}

.menu p {
    color: var(--secondary-background-color-alt);
    font-size: 1.5rem;
}

.menu {
    display: flex;
    align-items: center;
}

.menu ul {
    display: flex;
    flex-direction: row;
    color: var(--font-color);
}

.options ul {
    padding: 0 1.125rem;
    color: var(--menu-font-color);
}

.options ul li:hover {
    color: var(--font-color);
    transition: .5s;
}

.options ul li:nth-child(2) {
    margin: 0 4.5rem;
}

.login ul>li:first-child {
    margin-right: 3.25rem;
}

/* ******* content ******** */

#content {
    display: flex;
    max-width: 700px;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 6.5rem;

}

#content-img {
    position: absolute;
    top: 55px;
    right: 144px;
}

.title h1 {
    color: var(--font-color);
    font-size: 4rem;
    font-weight: 500;
}

.title h1:nth-child(3) {
    font-weight: 400;
}

.title h1:not(:first-child) {
    margin-top: 1.5rem;
}

.title h1 span {
    padding: 0.5rem 1.5rem;
    border: var(--font-color) 2px solid;
    border-radius: 5rem;
}

.subtitle {
    display: flex;
    margin-top: 6rem;
    color: var(--menu-font-color);
}

.subtitle p {
    font-size: 1.25rem;
    margin-right: 6rem;
    line-height: 1.875rem;
    font-weight: 400;
}

.subtitle img {
    padding-right: 4rem;
}