body {
    margin: 0px;
    background-color: var(--primary-background-color);
}

ul,
li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}