:root {
    --primary-background-color: #D6D7E0;
    --secondary-background-color: #ffffff;
    --secondary-background-color-alt: #FBF9FE;
    --primary-text-color: #252525;
    --text-black: #000000;
    --text-white: #ffffff;
    --secondary-text-color: #363637;
    --text-color-detail: #F966B9;
    --text-comment: #787478;
}